// MIXINS
@mixin displayFlex($justify, $alignItems)
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: $justify;
  justify-content: $justify;
  -webkit-align-items: $alignItems;
  align-items: $alignItems;
}

// VARIABLES
$cellWidth : 25px;
$cellHeight : 25px;
$animationSpeed : 0.20s;

body
{
    font-size: 67.5%;
    font-family: helvetica, sans-serif;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#744ca5+0,7d3687+100 */
    background: #744ca5; /* Old browsers */
    background: -moz-linear-gradient(top, #744ca5 0%, #7d3687 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #744ca5 0%,#7d3687 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #744ca5 0%,#7d3687 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#744ca5', endColorstr='#7d3687',GradientType=0 ); /* IE6-9 */
}

.grid-container
{
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 0.5rem;

  background-color: rgb(50, 50, 50);

}

.grid-row
{
  width: 100%;
  height: auto;

  @include displayFlex(space-around, center);
}


.grid-cell
{
  width: $cellWidth;
  height: $cellHeight;
  display: inline-block;
  background-color: Gainsboro;
  margin: 2px;

  line-height: $cellHeight;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;

  transition: background-color $animationSpeed linear;
}

.grid-cell:hover
{
  background-color: orange;
}

.grid-cell-color
{
  background-color: yellow;
}

.grid-cell-debug
{
  background-color: red;
}

.cell-fibonacci
{
  background-color: green;
}

.header-container
{
  width: 90%;
  margin: auto;

  @include displayFlex(space-between, center);
}

.header-container h1
{
  font-size: 2rem;
  color: white;
}

.header-button-reset
{
  padding: 1rem;

  font-size: 1.6rem;
  text-decoration: none;

  background-color: orange;
  border: none;

  transition: background-color $animationSpeed linear;
}

.header-button-reset:hover
{
  background-color: gold;
}
